<section id='generic'>
    <div class='mb-[64px] md:mb-[128px] px-[16px] md:px-[80px] flex flex-col gap-[64px]'>
        <div class='flex flex-col gap-[16px]'>
            <p class='text-text-primary text-[24px] md:text-[32px] font-bold'>Privacy Policy</p>
            <p class='text-text-primary font-medium text-[16px] md:text-[18px]'>
                If you are curious to Purchase Biodegradable Golf Balls please follow up with the below email address
                and we will get back to you within 1 one business day! We’re happy to answer any questions you might
                have about our environmentally friendly water soluble golf balls. Looking forward to hearing from you!
            </p>
        </div>
        <div class='flex flex-col gap-[16px]'>
            <p class='text-text-primary text-[24px] md:text-[32px] font-bold'>Who are we</p>
            <p class='text-text-primary font-medium text-[16px] md:text-[18px]'>
                We make revolutionary golf balls that dissolve in water. These balls are designed to allow people to
                play on water, on a yacht, or near the sea, without burdening the planet. With our products, you can
                enjoy the game in harmony with nature. Play sustainably. Have fun!
            </p>
            <p class='text-text-primary font-medium text-[18px]'>Our website address is: biodegradablegolfballs.com</p>
        </div>
        <div class='flex flex-col gap-[46px]'>
            <p class='tex-text-primary font-bold text-[20px] md:text-[24px] '>
                What personal data we collect and why we collect it
            </p>
            <div class='flex flex-col gap-[28px]'>
                <p class='text-[16px] font-bold text-text-primary  md:text-[24px]'>Comments</p>
                <p class='text-text-primary font-mediun text-[18px]'>
                    When visitors leave comments on the site we collect the data shown in the comments form, and also
                    the visitor’s IP address and browser user agent string to help spam detection.
                </p>
                <p class='text-text-primary font-mediun text-[18px]'>
                    An anonymized string created from your email address (also called a hash) may be provided to the
                    Gravatar service to see if you are using it. The Gravatar service privacy policy is available here:
                    https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to
                    the public in the context of your comment.
                </p>
            </div>
            <div class='flex flex-col gap-[28px]'>
                <p class='text-[16px] font-bold text-text-primary  md:text-[20px]'>Media</p>
                <p class='text-text-primary font-mediun text-[18px]'>
                    If you upload images to the website, you should avoid uploading images with embedded location data
                    (EXIF GPS) included. Visitors to the website can download and extract any location data from images
                    on the website.
                </p>
            </div>
            <div class='flex flex-col gap-[28px]'>
                <p class='text-[16px] font-bold text-text-primary  md:text-[20px]'>Contact forms</p>
            </div>
            <div class='flex flex-col gap-[28px]'>
                <p class='text-[16px] font-bold text-text-primary  md:text-[20px]'>Cookies</p>
                <ul class='list-disc flex flex-col gap-[24px]'>
                    <li class='text-text-primary text-[18px] font-medium'>
                        If you leave a comment on our site you may opt-in to saving your name, email address and website
                        in cookies. These are for your convenience so that you do not have to fill in your details again
                        when you leave another comment. These cookies will last for one year.
                    </li>
                    <li class='text-text-primary text-[18px] font-medium'>
                        If you visit our login page, we will set a temporary cookie to determine if your browser accepts
                        cookies. This cookie contains no personal data and is discarded when you close your browser.
                    </li>
                    <li class='text-text-primary text-[18px] font-medium'>
                        When you log in, we will also set up several cookies to save your login information and your
                        screen display choices. Login cookies last for two days, and screen options cookies last for a
                        year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your
                        account, the login cookies will be removed.
                    </li>
                    <li class='text-text-primary text-[18px] font-medium'>
                        If you edit or publish an article, an additional cookie will be saved in your browser. This
                        cookie includes no personal data and simply indicates the post ID of the article you just
                        edited. It expires after 1 day.
                    </li>
                </ul>
            </div>

            <div class='flex flex-col gap-[28px]'>
                <p class='text-[16px] font-bold text-text-primary  md:text-[20px]'>
                    Embedded content from other websites
                </p>
                <p class='text-text-primary text-[18px] font-medium'>
                    Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded
                    content from other websites behaves in the exact same way as if the visitor has visited the other
                    website.
                </p>
                <p class='text-text-primary text-[18px] font-medium'>
                    These websites may collect data about you, use cookies, embed additional third-party tracking, and
                    monitor your interaction with that embedded content, including tracking your interaction with the
                    embedded content if you have an account and are logged in to that website.
                </p>
            </div>

            <div>
                <p class='font-bold text-[16px] text-text-primary  md:text-[20px]'>Analytics</p>
            </div>

            <div>
                <p class='font-bold text-[20px] text-text-primary'>Who we share your data with</p>
            </div>
            <div class='flex flex-col gap-[16px]'>
                <p class='font-bold text-[20px] text-text-primary  md:text-[24px]'>How long we retain your data</p>
                <p class='text-text-primary font-medium text-[18px] '>
                    If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can
                    recognize and approve any follow-up comments automatically instead of holding them in a moderation
                    queue.
                </p>
                <p class='text-text-primary font-medium text-[18px]'>
                    For users that register on our website (if any), we also store the personal information they provide
                    in their user profile. All users can see, edit, or delete their personal information at any time
                    (except they cannot change their username). Website administrators can also see and edit that
                    information.
                </p>
            </div>

            <div class='flex flex-col gap-[16px]'>
                <p class='text-text-primary font-bold text-[20px] md:text-[24px]'>
                    What rights you have over your data
                </p>
                <p class='text-text-primary text-[18px] font-medium'>
                    If you have an account on this site, or have left comments, you can request to receive an exported
                    file of the personal data we hold about you, including any data you have provided to us. You can
                    also request that we erase any personal data we hold about you. This does not include any data we
                    are obliged to keep for administrative, legal, or security purposes.
                </p>
            </div>
        </div>
    </div>
</section>
