.grid.collapsible-content__grid {
    display: flex;
}
.multicolumn-list__item .rte ul {
    list-style: disc;
}
p a {
    text-decoration: underline;
}
.rte ul {
    list-style: disc;
}
.rte a {
    text-decoration: underline;
}